<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>App</title>
  <link rel="stylesheet" href="/style/game/index.css">
</head>

<body>
  <div class="show-wrap">
    <div>
      <img src="/images/game/rock.png" alt="" srcset="" id="player">
    </div>
    <div>
      <img src="/images/game/rock.png" alt="" srcset="" id="computer">
    </div>
  </div>
  <button id="start">开始</button>
  <script src="/script/game/index.js"></script>
</body>

</html>